<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    failOnWarning="true"
>
    <coverage>
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">admin</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="WP AutoFirma">
            <directory suffix="Test.php">tests/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
